<h1>Quiénes Somos</h1>
<br><br>
HARAM pajaritas es una propuesta de accesorios masculinos entre los que hay pajaritas (corbatines), pañuelos de solapa, corbatas y uno que otro detalle. <br><br>
HARAM pajaritas es una propuesta responsable con el ambiente porque utiliza retazos de tela de talleres de confección y de fábricas medianas y grandes. HARAM pajaritas toma los retazos, los trata para que puedan ser reutilizados y les da una nueva vida. Alguno conocen esto como [upcycling].<br><br>
HARAM pajaritas es posible gracias a un grupo de mujeres de distintos estratos económicos y sociales de la ciudad de Quito que buscan empoderarse a través del trabajo asociativo, inclusivo, tolerante y no discriminatorio.<br><br>
Cuando compras un accesorio de HARAM pajaritas contribuyes a la reducción de miles de toneladas de textiles desechados cada año por la industria indumentaria y que tardan miles de años en descomponerse.<br><br>


<%= image_tag "ProduccionTelaTanzania.JPG" %>
